@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-sans);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-special-accent: var(--special-accent);
  --color-tag-accent: var(--tag-accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --breakpoint-xs: 480px;
  --breakpoint-desktop: 1600px;
  --container-desktop: 1600px;
}

:root {
  --background: #f8f9f6;
  --foreground: #3c3b3e;
  --card: #ffffff;
  --card-foreground: #3c3b3e;
  --popover: #ffffff;
  --popover-foreground: #3c3b3e;
  --primary: #d9bbff;
  --primary-foreground: #3c3b3e;
  --secondary: #c99fff;
  --secondary-foreground: #c99fff;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --special-accent: #fbe26d;
  --tag-accent: #eeeff1;
  --pending-icon: #cbd5e1;
  --success-icon: #9dde8b;
  --destructive: #c44da2;
  --border: #cbd5e1;
  --input: #ffffff;
  --input-border: #3c3b3e;
  --ring: #c99fff;
  --radius: 0.625rem;
  --sidebar: #ffffff;
  --sidebar-foreground: #3c3b3e;
  --sidebar-primary: #d9bbff;
  --sidebar-primary-foreground: #3c3b3e;
  --sidebar-border: #cbd5e1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
  html {
    @apply font-sans;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  @media (max-width: 359px) {
    .root-container {
      width: 360px;
      transform: scale(calc(100vw / 360));
      transform-origin: top left;
    }
  }
}

@layer utilities {
  /* Root */
  .root-container {
    @apply min-h-screen flex flex-1 flex-col mx-auto max-w-desktop justify-between;
  }

  .content-container {
    @apply flex flex-col px-5 xs:px-10 md:px-16;
  }
}

@layer components {
  .item-rating {
    @apply flex flex-row gap-2;
  }

  .tag {
    @apply px-3 py-0.5 border border-foreground rounded-md font-semibold text-base bg-tag-accent truncate;
  }

  .item-button {
    @apply px-3 py-0.5 border border-foreground rounded-md font-semibold text-base bg-primary;
  }

  /* Item List */

  .item-list {
    @apply mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 xs:gap-10!;
  }

  .item-list-header {
    @apply font-bold text-3xl;
  }

  .item-card {
    @apply flex flex-col gap-5 bg-card p-5 border border-border rounded-xl;
  }

  .item-card-image {
    @apply flex flex-1 border border-secondary rounded-lg overflow-hidden aspect-square;
  }

  .item-card-title {
    @apply font-bold text-xl mb-2.5 truncate;
  }

  .item-card-details {
    @apply flex flex-col gap-1.5 font-medium;
  }

  .item-card-controls {
    @apply flex items-center justify-between gap-3;
  }

  .item-card-link {
    @apply flex items-center justify-between;
  }

  /* Item Overview */
  .item-overview {
    @apply flex flex-col-reverse items-center gap-12 xl:flex-row xl:items-start xl:gap-20;
  }
  .item-overview h1 {
    @apply text-5xl font-bold md:text-6xl desktop:text-7xl;
  }

  .item-info {
    @apply flex flex-2 flex-col gap-5;
  }

  .item-image {
    @apply flex flex-1 border-10 border-secondary rounded-4xl overflow-hidden aspect-square max-w-full;
  }

  .item-details {
    @apply mt-3 flex flex-row flex-wrap gap-4 text-xl font-medium;
  }

  .item-details p {
    @apply text-xl font-medium;
  }

  .item-copies {
    @apply flex flex-row flex-wrap gap-4;
  }

  .item-copies p {
    @apply text-xl font-medium!;
  }

  .item-copies p span {
    @apply ml-2 font-bold text-secondary;
  }

  .item-description {
    @apply mt-2 text-justify text-xl;
  }

  .item-overview_btn {
    @apply mt-4 px-5! min-h-13 w-fit bg-special-accent! hover:bg-special-accent/90! text-foreground max-md:w-full! cursor-pointer border! border-foreground!;
  }
}
